h1 {
    font-size: 2em;
}

#question {
    margin: 3em 0;
}

.fraction {
    display: inline-flex;
    flex-direction: column;
    vertical-align: middle;
    text-align: center;
}

.fraction :first-child {
    text-decoration-line: underline;
}
